body
{
    margin:0;
    font-family:Arial;
    background:#6cac59;
    color:#111
}
header
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    background:#06abcc;
    border-bottom:1px solid #ddd;
    position:sticky;
    top:0;
    z-index:10
}
.nav-list
{
    display:flex;
    gap:20px;
    list-style:none;
    padding:0;
    margin:0
}
.nav-list a
{
    text-decoration:none;
    color:#444;
    font-weight:bold
}
.logo
{
    display:flex;
    align-items:center;
    gap:10px
}
.mark
{
    background:#0b74da;
    color:#fff;
    padding:10px;
    border-radius:8px;
    font-weight:bold
}

.btn{
    background:#0b74da;
    color:#fff;
    padding:8px 14px;
    border:none;
    border-radius:6px;
    cursor:pointer
}

.linkish
{background:none;
    border:none;
    color:#0b74da;
    cursor:pointer
}

main
{
    max-width:1100px;
    margin:auto;
    padding:20px
}
.hero
{
    text-align:center;
    margin-top:20px
}
.hero h1
{
    font-size:28px;
    margin-bottom:10px
}
.hero p
{
    font-size:16px;
    color:#222
}
.grid
{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;margin-top:20px
}
.card
{background:#48abb2;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:0.3s
}
.card img
{
    width:100%;
    height:200px;
    object-fit:cover;
    transition:0.4s
}
.card:hover img
{
    transform:scale(1.08);
    box-shadow:0 10px 20px rgba(0,0,0,0.4)
}
{
    padding:15px
}
footer
{
    font-size: 30px;
    text-align:center;
    padding:20px;
    color:#09f7eb;
    margin-top:30px
}

.modal-backdrop{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.5);
    display:none;
    justify-content:center;
    align-items:center
}
.modal{
    background:#fff;
    padding:20px;
    border-radius:10px;
    width:300px;
    position:relative
}
.close-btn
{
    position:absolute;
    right:10px;
    top:10px;
    background:none;
    border:none;
    font-size:18px;
    cursor:pointer
}
.modal input

{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:6px
}